$playlist-bg: #232323;
$playlist-item-bg: #414141;
$playlist-font-family: "Noto Sans", Arial, sans-serif;
$playlist-active-bg: #56c7ff;

.dm-playlist {
  background: var(--dm-playlist-bg, $playlist-bg) !important;
  padding: 0 40px !important;

  .slider {
    position: relative !important;
  }

  .frame {
    width: 100% !important;
    position: relative !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }

  .slides {
    display: inline-block !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
    background: none;
    padding: 0;
    border: 0;
  }
}

.dm__video-info {
  background: var(--dm-video-info-bg, #fff);
  border-top: 6px solid var(--dm-top-line-color, $playlist-bg);
  margin-bottom: 13px;

  .dm__video-title {
    --dm-title-align: left;
    --dm-title-weight: 700;
    font-family: var(--dm__video-title, $playlist-font-family) !important;
  }

  .dm__video-description {
    font-family: $playlist-font-family !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 3.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: .8em;

    p { margin: 0 0 13px;}
  }
}

.dm__playlist-slide {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 133px;
  vertical-align: top;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.dm__slide-wrapper {
  padding: 5px;
}

/**
 * A sign for now playing and next playing on thumbnail
 */
.dm__playlist-active {
  .dm__playlist-cont-thumbnail:after {
    content: "Playing now";
    display: block;
  }

  & + .dm__playlist-slide .dm__playlist-cont-thumbnail:after {
    content: "Playing next";
    background: var(--dm-next-playing-bg, rgba(35,35,35,.95));
    display: block;
  }

  .dm__playlist-duration, & + .dm__playlist-slide .dm__playlist-duration {
    background: none !important;
  }
}

.dm__playlist-cont-thumbnail {
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;

  &:before {
    content: "";
    padding-top: 56.25%;
    background: #ddd;
    display: block;
    animation: slideInDown;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--dm-now-playing-bg, $playlist-active-bg);
    color: var( --dm-now-playing-color, #fff) !important;
    padding: 4px 10px;
    font-size: var(--dm-playlist-publisher-size, .6em) !important;
    font-family: $playlist-font-family;
    display: none;
  }
}

.dm__playlist-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.dm__playlist-duration {
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: #fff !important;
  background: rgba(0,0,0,.6) !important;
  padding: 4px !important;
  font-size: .6em !important;
  font-family: $playlist-font-family !important;
  z-index: 1;
}

.dm__playlist-info-container {
  background: var(--dm-playlist-info-bg, $playlist-item-bg) !important;
  padding: 6px 10px !important;
  font-family: var(--dm-playlist-font-family, $playlist-font-family) !important;
  font-weight: var(--dm-playlist-weight, 700) !important;
  color: var( --dm-playlist-color, #fff) !important;
}

.dm__playlist-publisher-name {
  margin: 12px 0 0 !important;
  color: inherit !important;
  font-size: var(--dm-playlist-publisher-size, .6em) !important;
  line-height: 1.3em !important;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.dm__playlist-publisher-ava {
  width: 12px;
  margin-right: 6px;
  vertical-align: middle;
}

.dm__playlist-title {
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  white-space: normal !important;
  font-size: var(--dm-playlist-title-size, .7em) !important;
  font-width: inherit !important;
  line-height: 1.3em !important;
  height: 3.87em !important;
}



.next {
  right: -40px;
}

.prev {
  left: -40px;
}

.next svg, .prev svg {
  width: 25px;
}

  // SVG style
  .arrow {
    fill: var(--arrow-color, #ddd);
  }


  .dm-playlist--right-side {
    --dm-playlist-display: flex;
    --dm-player-size: 50%;
    --dm-player-ratio: 29%;
    --dm-playlist-size: 40%;
    --dm-playlist-bg: #000;

    display: var(--dm-playlist-display);
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--dm-playlist-bg);


    .dailymotion-cpe {
      width: var(--dm-player-size);
      padding-bottom: var(--dm-player-ratio);
    }

    .dm-playlist {
      width: var(--dm-playlist-size);
    }
  }
  
  @media (max-width: 767px) {
    .dm-playlist--right-side {
      --dm-playlist-display: block;
      --dm-player-size: 100%;
      --dm-player-ratio: 56.25%;
      --dm-playlist-size: calc(100% - 80px);
    }
  }