@import "vars";

/**
 * Playlist style
 */
.dm-playlist {
  --dm-playlist-bg: #{$playlist-bg};
  --dm-playlist-font-fam: #{$playlist-font-family};

  /**
   * Slide
   */
  // Thumbnail
  --dm-now-playing-bg-indicator: #{$playlist-active-bg};
  --dm-now-playing-color: #fff;
  --dm-next-playing-bg-indicator: rgba(35,35,35,.95);

  // Video info container
  --dm-playlist-publisher-size: .6em;
  --dm-playlist-title-size: .7em;
  --dm-playlist-info-bg: #{$playlist-item-bg};
  --dm-playlist-font-family: #{$playlist-font-family};
  --dm-playlist-weight: 700;
  --dm-playlist-color: #fff;
  --dm-playlist-info-bg-active: #{$playlist-item-bg};
  --dm-playlist-color-active: #fff;

  // Playing status
  --dm-playing-status-text-color: #fff;
  --dm-playing-status-text-size: .8em;
  --dm-playing-status-bg: var(--dm-playlist-bg);
  --dm-playing-status-title-color: #fff;
  --dm-playing-status-title-size: 1em;

  background: var(--dm-playlist-bg) !important;
  padding: 0 40px !important;

  .slider {
    position: relative !important;
  }

  .frame {
    width: 100% !important;
    position: relative !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }

  .slides {
    display: inline-block !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
    background: none;
    padding: 0;
    border: 0;
  }

  .next {
    right: -40px;
  }

  .prev {
    left: -40px;
  }

  .next svg, .prev svg {
    width: 25px;
  }

  // SVG style
  .arrow {
    fill: var(--arrow-color, #ddd);
  }
}

.dm__playlist-slide {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 133px;
  vertical-align: top;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.dm__slide-wrapper {
  padding: 5px;
}

/**
 * A sign for now playing and next playing on thumbnail
 */
.dm__playlist-active {
  .dm__playlist-cont-thumbnail:after {
    content: "Playing now";
    display: block;
  }

  & + .dm__playlist-slide .dm__playlist-cont-thumbnail:after {
    content: "Playing next";
    background: var(--dm-next-playing-bg-indicator);
    display: block;
  }

  .dm__playlist-duration, & + .dm__playlist-slide .dm__playlist-duration {
    background: none !important;
  }
}

.dm__playlist-cont-thumbnail {
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;

  // To size the thumbnail to 16:9, so the thumbnail style will look the same
  &:before {
    content: "";
    padding-top: 56.25%;
    background: #ddd;
    display: block;
    animation: slideInDown;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  // Add background for video status, it will be used by playing-now and playing-next indicator
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--dm-now-playing-bg-indicator);
    color: var( --dm-now-playing-color) !important;
    padding: 4px 10px;
    font-size: var(--dm-playlist-publisher-size) !important; // It follows the size of publisher info
    font-family: var(--dm-playlist-font-fam);
    display: none;
  }
}

.dm__playlist-thumbnail {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.dm__playlist-duration {
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: #fff !important;
  background: rgba(0,0,0,.6) !important;
  padding: 4px !important;
  font-size: .6em !important;
  font-family: var(--dm-playlist-font-fam) !important;
  z-index: 1;
}

.dm__playlist-info-container {
  background: var(--dm-playlist-info-bg) !important;
  padding: 6px 10px !important;
  font-family: var(--dm-playlist-font-family) !important;
  font-weight: var(--dm-playlist-weight) !important;
  color: var( --dm-playlist-color) !important;
}

.dm__playlist-active .dm__playlist-info-container {
  background: var(--dm-playlist-info-bg-active) !important;
  color: var(--dm-playlist-color-active) !important;
}

.dm__playlist-publisher-name {
  margin: 12px 0 0 !important;
  color: inherit !important;
  font-size: var(--dm-playlist-publisher-size) !important;
  line-height: 1.3em !important;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

img.dm__playlist-publisher-ava {
  all: unset;
  width: 12px !important;
  margin-right: 6px;
  vertical-align: middle;
}

.dm__playlist-title {
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-font-smoothing: antialiased;
  white-space: normal !important;
  font-size: var(--dm-playlist-title-size) !important;
  line-height: 1.3em !important;
  height: 3.87em !important;
}

.dm__now-playing-status {
  margin: 0 -40px;
  padding: 10px 40px;
  background-color: var(--dm-playing-status-bg);
  font-family: var(--dm-playlist-font-fam);

  .dm__now-playing-text {
    color: var(--dm-playing-status-text-color);
    font-size: var(--dm-playing-status-text-size);
    margin-bottom: 4px;
  }

  .dm__now-playing-title {
    color: var(--dm-playing-status-title-color);
    font-size: var(--dm-playing-status-title-size);
  }
}


.dm-playlist--right-side {
  --dm-playlist-display: flex;
  --dm-player-size: 57%;
  --dm-player-ratio: 29%;
  --dm-playlist-size: 43%;
  --dm-playlist-bg: #{$playlist-bg};

  @media (max-width: 767px) {
    --dm-playlist-display: block;
    --dm-player-size: 100%;
    --dm-player-ratio: 56.25%;
    --dm-playlist-size: 100%;
  }

  display: var(--dm-playlist-display);
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--dm-playlist-bg);

  .dailymotion-cpe {
    width: var(--dm-player-size);
    padding-bottom: var(--dm-player-ratio);

    @media (max-width: 767px) {
      --dm-player-size: 100%;
    }
  }

  .dm-playlist {
    width: var(--dm-playlist-size);

    @media (max-width: 767px) {
      --dm-playlist-size: auto;
      margin: 0;
    }
  }
}
