.dm__info-card {
  background: var(--dm-info-card-bg, #F9F9F9) !important;
  padding: var(--dm-info-card-padding, 18px 24px 30px) !important;
  display: flex;
  align-items: flex-start;
  text-align: var(--dm-info-card-align, left) !important;

  // Title
  --dm-title-align: left;
  --dm-title-weight: 400;
  --dm-title-size: 1.1em;
  --dm-ava-width: 80px;
  --dm-title-color: inherit;
  --dm-title-padding: 8px 0 12px;
  --dm-title-style: normal;
  --dm-ornament-color: #000;
  --dm-font-family: "Noto Sans", Arial, sans-serif;

  --dm-desc-align: left;
  --dm-desc-margin: 0 0 8px;
  --dm-desc-style: normal;
  --dm-desc-color: #666;
  --dm-desc-size: .8em;
  --dm-desc-weight: inherit;

  @media (max-width: 576px) { // Mobile breakpoints based on bootstrap
    --dm-ava-width: 50px;
  }
}

  .dm__text-wrapper {
    //width: calc(100% - var(--dm-ava-width));
    width: 1px; // Not sure why this is work on `display: flex` basist
    padding-right: 30px;
    transition: all ease .3s;
    flex-grow: 1;
  }

  .dm__video-title {
    text-align: var(--dm-title-align) !important;
    padding: var(--dm-title-padding) !important;
    font-style: var(--dm-title-style) !important;
    color: var(--dm-title-color) !important;
    font-size: var(--dm-title-size) !important;
    font-weight: var(--dm-title-weight) !important;
    font-family: var(--dm-font-family) !important;
    margin: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    position: relative;

    &:after {
      display: block;
      content: "";
      width: 20px;
      height: 1px;
      background-color: var(--dm-ornament-color);
      position: absolute;
      bottom: 0;
    }
  }

  .dm__video-desc {
    text-align: var(--dm-desc-align) !important;
    margin: var(--dm-desc-margin) !important;
    font-style: var(--dm-desc-style) !important;
    color: var(--dm-desc-color) !important;
    font-size: var(--dm-desc-size) !important;
    font-weight: var(--dm-desc-weight) !important;
    font-family: var(--dm-font-family) !important;
    padding-top: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &.dm__full-desc {
      overflow: visible;
      -webkit-line-clamp: unset;
      text-overflow: unset;
    }
  }

  .dm__ava-wrapper {
    width: var(--dm-ava-width);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.6);
  }

  .dm__owner-ava {
    width: 100%;
    height: auto;
    display: block;
  }

  button.dm__collapse-button {
    padding: 0;
    margin: 0;
    background: none;
    transition: transform .3s ease;
    overflow: hidden;
    border: 0;
    position: absolute;
    bottom: 8px;
    left: calc(50% - 10px);
    cursor: pointer;

    &.collapsed {
      transform: rotate(180deg);
    }
  }
